.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.characters {
  list-style: none;
  padding-left: 0;
}

.characters li {
  display: flex;
  align-items: center;
  border: solid 2px #d0d0d0;
  border-radius: 12px;
  /* padding: 0.5em 0.8em 0.5em 0.5em; */
  margin-bottom: 1em;
  background: #ffffff;
  width: 285px;
  height: 70px;
  left: 0px;
  top: 0px;
}

.characters-3 {
  list-style: none;
  padding-left: 0;
}

.characters-3 li {
  display: flex;
  align-items: center;
  border-radius: 12px;
  /* padding: 0.5em 0.8em 0.5em 0.5em; */
  margin-bottom: 1em;
  background: #ffffff;
  width: 294px;
height: 70px;
  left: 0px;
  top: 0px;
}

.label {
  display: flex;
  font-weight: 100;
  max-width: 60px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  color: #a5adba;
}

.label-home{
  padding-top: 35px;
  text-align: center;
  color: black;
  text-decoration: none;
}


.border0 {
  background: #00875a;
  width: 11px;
  height: 70px;
  left: 0px;
  top: 0px;
  border-radius: 12px 0px 0px 12px;
  /* display: flex; */
}
.border1 {
  background: #5e9047;
  width: 10px;
  height: 70px;
  left: 0px;
  top: 0px;
  border-radius: 12px 0px 0px 12px;
  /* display: flex; */
}
.border2 {
  background: #c09934;
  width: 10px;
  height: 70px;
  left: 0px;
  top: 0px;
  border-radius: 12px 0px 0px 12px;
  display: flex;
}
.border3 {
  background: #fd9f28;
  width: 10px;
  height: 70px;
  left: 0px;
  top: 0px;
  border-radius: 12px 0px 0px 12px;
  display: flex;
}
.border4 {
  background: #ea6017;
  width: 10px;
  height: 70px;
  left: 0px;
  top: 0px;
  border-radius: 12px 0px 0px 12px;
  display: flex;
}
.border5 {
  background: #de350b;
  width: 10px;
  height: 70px;
  left: 0px;
  top: 0px;
  border-radius: 12px 0px 0px 12px;
  display: flex;
}

.characters p {
  max-width: 250px;
  font-weight: bold;
  margin: 0;
  color: #444a58;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  height: 38px;
  left: 0%;
  right: 0%;
  top: calc(50% - 38px / 2);
}

.characters-thumb {
  overflow: hidden;
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  background-color: #e8e8e8;
  padding: 0.5em;
  margin-right: 0.5em;
}

.characters-thumb img {
  display: block;
  width: 100%;
  height: auto;
}

.number-list {
  text-align: right;
  padding-bottom: 20px;
}
.number-list p {
  padding: 17px 15px 0px 0;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  justify-content: center;
  align-items: center;
}

.number-list-3 p {
  padding: 20px 30px 35px 20px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.button-next {
  position: relative;
  left: 100px;
  bottom: 50px;
  background: #005589;
  border-radius: 4px;
  width: 132px;
  height: 40px;
}

.line {
  justify-content: center;
  position: relative;
  right: 40px;
}

.layout {
  background: #f5f8fa;
}

.layout-home {
  background: #f5f8fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.layout-3{
  background: #f5f8fa;
  height: 620px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1; */
}

.instruction{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #a5adba;
}

.instruction-home {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content:space-between;
  color: #a5adba;
  width: 330px;
  height: 30px;
}
.container {
  display: flex;
  padding: 0 0 50px 0;
}

.container-paper {
  display: block;
  padding: 0 0 50px 0;
  align-items: center;
  justify-content: center;
}

.border21 {
  opacity: 0.6;
  border: 2px dashed #00875a;
  box-sizing: border-box;
}

.characters2 li {
  display: flex;
  align-items: center;
  opacity: 0.6;
  border: 2px dashed #00875a;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  /* padding: 0.5em 0.8em 0.5em 0.5em; */
  margin-bottom: 1em;
  background: #ffffff;
  width: 285px;
  height: 70px;
  left: 0px;
  top: 0px;
}

.borderr {
  border: 2px dashed #00875a;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  width: 285px;
  height: 70px;
}

.number-list-3{
  text-align: right;
  padding-bottom: 20px;
}

.button-home{
  position: relative;
  bottom: 125px;
  right: 160px;
}
.button-home-3{
  position: relative;
  top: 530px;
  right: 390px;
}


@media screen and (min-device-width: 1200px) {
  /* The device with borders */
  .smartphone {
    position: relative;
    width: 360px;
    height: max-content;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }

  /* The horizontal line on the top of the device */
  .smartphone::before {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }

  /* The circle on the bottom of the device */
  .smartphone::after {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }

  /* The screen (or content) of the device */
  .smartphone__content {
    width: 360px;
    height: 100%;
    flex: 1;
    background: white;
  }
}

.papper {
  border-radius: 12;
  width: 87;
  margin-top: 20px;
}

.list-group {
  width: fit-content;
  position: relative;
  left: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-3 {
  padding-left: 2px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: left;
  color: #444A58;
}

.list-group-item {
  border-radius: 0 !important;
}

.list-group-item:last-child {
  border-width: 1px 0 !important;
}

.swipe-to-delete {
  position: relative !important;
  padding: 0 !important;
  overflow: hidden !important;
}
.swipe-to-delete .js-delete {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 1 !important;
}
.swipe-to-delete .js-content {
  position: relative !important;
  z-index: 2 !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}
.swipe-to-delete .js-content :first-child {
  position: relative !important;
}
.swipe-to-delete .js-transition-delete-right,
.swipe-to-delete .js-transition-delete-left,
.swipe-to-delete .js-transition-cancel {
  transition-property: left !important;
  transition-duration: 0.5s;
}
.swipe-to-delete .js-transition-delete-right {
  left: 100% !important;
}
.swipe-to-delete .js-transition-delete-left {
  left: -100% !important;
}
.swipe-to-delete .js-transition-cancel {
  left: 0 !important;
}

/* Custom styles */
.swipe-to-delete .js-delete {
  height: 70px;
  background: #F5F8FA;
  text-align: left;
}
.swipe-to-delete .js-delete svg {
  position: absolute;
  left: 17px;
  top: 50%;
  margin-top: -13px;
  width: 25px;
  height: 25px;
}
.swipe-to-delete .js-delete p {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #A5ADBA;
  position: absolute;
  top: 10px;
}
.swipe-to-delete .js-delete svg:first-child {
  left: auto;
  right: 17px;
}

.swipe-to-delete .js-content :first-child {
  cursor: pointer;
}

.swipe-to-delete .js-transition-delete-right,
.swipe-to-delete .js-transition-delete-left,
.swipe-to-delete .js-transition-cancel {
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}
